@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@600&display=swap');


* {
  font-family: 'Source Code Pro', monospace;
  background-color: #F3F0F1;
  color:#ff4d00;
}
