@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Code+Pro:wght@600&display=swap');


* {
  font-family: 'Source Code Pro', monospace;
  background-color: #f7f9fa;
}

/*
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
font-family: 'Space Mono', monospace; */
